extends ./layouts/common.pug

block content
  h1
    img(src="favicon.png",height=30)
    span= 'Bài 11 - Static files'
  br
  a(href='/books') Books
  br
  a(href='/users') Users
  br
  a(href='/transactions') Transactions